fastapi==0.111.1
pydantic==2.5.1        # downgraded to avoid Rust build
uvicorn==0.23.2
python-dotenv==1.0.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.12
email-validator>=2.0.0
openai==1.31.0
httpx==0.28.1
twilio>=8.0.0
africastalking>=1.2.6
requests>=2.31.0
reportlab>=4.2.0